.infoContainer {
    padding: 1rem 2rem 2rem 2rem;
    background-color: #000000d4;
    border: 2px solid #fff;
    border-radius: 20px;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    max-width: 500px;
    min-height: 200px;
    text-align: center;
}

.btn {
    background-color: var(--color-gray);
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--color-black);
}