.container {
    background-color: var(--color-gray);
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: background-color 0.5s, transform 0.5s;
    border: 2px solid #fff;
}

.container:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #0d0c10;
}

.infoContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container h4 {
    margin: 0;
}

.imgContainer img{
    width: 100%;
    height: 130px;
    object-fit: cover;
}

h4.nameCountry {
    color: var(--name-countries);
    margin-bottom: 0.4rem;
}

