/* ESTILOS GLOBALES */

@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

:root {
    --container-background-first: #4484a98a;
    --container-country-details-background-color: #154662e0;
    --name-countries: #1EB53A;
    --color-gray: #1C1B22;
    --color-gray-opacity: #1c1b2294;
    --color-gray-opacity-darker: #1c1b22e6;
    --color-black: #101010
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: #080808;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    max-height: 100vh;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

li {
    list-style: none;
}

a.active {
    color: #64AAFF;
    background-color: #000;
}

p {
    margin: 0;
}